/* Styles*/

body {
  padding-top: 51px;
  background-color: #fff;
}

/*NÚMERO SUPERIOR*/
.badge { 
    margin-top: -5px;
    padding: 3px 6px;
    vertical-align: top;
    background: #D9534F !important;
}
 
/*MENU LATERAL COM LIST*/
.list-group-item:first-child {
  border: none;
  border-bottom: 2px solid #eee; 
}
a.list-group-item {
  color: #02465d;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #eee;    
}
a.list-group-item:hover {
  color: #fff;
  background-color: #02465d;
  border: none;
}
/* BEM-VINDO */
.welcome {
  text-shadow: 5px 5px 5px #696969;
  color: #02465d;
  font-size: 30px;
}
.fa-icon-color {
    color: #f47a20;
    
}
.fa-btn-color, .fa-btn-color:hover  {
    background-color: #f47a20;
    color: #ffffff;
    box-shadow: 0px 5px 5px rgba(50,50,50,0.45);  /*5px sombra inferior / 5px sombra lateral / 0.45 opacidade */
}
table th {
    color: #02465d;
    text-shadow: 0px 3px 3px rgba(50,50,50,0.45);  /*5px sombra inferior / 5px sombra lateral / 0.45 opacidade */
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
 color: #ffffff;
  background-color: #f47a20;
  
  
 }  
